---
layout: single
---

<div class="page__inner-wrap">
  <header>
    <h1 class="page__title">Hi, I'm Gage Baldassaro</h1>
  </header>
  <section class="page__content">
    <p>Welcome to my portfolio! I'm a Computer Science student at Rice University focused 
      on game development and graphics. I have a strong passion for making and playing video 
      games, and I'm looking to get involved in the game development industry. Check out some of my work!</p>
  </section>
  <header>
    <h2 class="page__title">Projects</h2>
  </header>
</div>

<div id="projects" style="scroll-margin-top: 20em;">
  {% include feature_row %}
</div>

{{ content }}
