---
layout: single
---

<div class="page__inner-wrap">
  <header>
    <h1 class="page__title">Hi, I'm Gage Baldassaro</h1>
  </header>
  <section class="page__content">
    <p>Welcome to my portfolio! I'm a Computer Science student at Rice University focused 
      on game development and graphics. I have a strong passion for making and playing video 
      games, and I'm looking to get involved in the game development industry. Check out some of my work!</p>
  </section>
  <header>
    <h2 class="page__title">Projects</h2>
  </header>
</div>

<style>
  #projects .archive__item-teaser {
    text-align: center !important;
    padding: 1.5rem !important;
  }
  #projects .archive__item-teaser img {
    width: auto !important;
    max-width: 70% !important; /* Adjust this to make it wider/narrower */
    /*height: 120px !important;  /* Adjust this to make it taller/shorter */
    object-fit: cover !important;
    margin: 0 auto !important;
    border-radius: 6px !important;
  }
</style>

<div id="projects" style="scroll-margin-top: 6em;">
  {% include feature_row %}
</div>

{{ content }}
